<div class=" container">
  <h2 class="my-3">List of Absences</h2>
  <table class="table">
    <thead >
    <tr>
      <th>Student ID</th>
      <th>Student Name</th>
      <th>Course</th>
      <th>Number of Absences</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ngIf="absence; else emptyList" *ngFor="let absence of absences">
      <td>{{ absence.studentID }}</td>
      <td>{{ absence.student.cne }}</td>
      <td>{{ absence.course.name }}--{{ absence.course.annee }}</td>
      <td>{{ absence.nbrAbsence }}</td>
      <td>
        <button class="btn btn-success btn-sm mr-2" (click)="handleUpdateAbsence(absence)">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="handleDeleteAbsence(absence)">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
    <ng-template emptyList>
      <p>list is empty!</p>
    </ng-template>
    </tbody>
  </table>
</div>