<div class="container">
  <h2 class="my-3">List of Professors</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>CIN</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let professor of professors">
      <td>{{ professor.nom }}</td>
      <td>{{ professor.cin }}</td>
      <!-- <td>{{ professor.dateNaissance | date : 'dd/MM/yyyy' }}</td> -->
      <td>NA</td>
      <td>{{ professor.email }}</td>
      <td>
        <button class="btn btn-success btn-sm mr-2" (click)="handelUpdateProfessor(professor)">
          <i class="bi bi-pencil-square"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="handelDeleteProfessor(professor)">
          <i class="bi bi-trash3"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
